# NOTE: update this with your service name
service: blob-images-api-features

# Create an optimized package for our functions 
package:
  individually: true

plugins:
  - serverless-bundle # Package our functions with Webpack
  - serverless-offline
  - serverless-dotenv-plugin # Load .env as environment variables
  - serverless-domain-manager

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: eu-central-1
  tags:
    APP: clubalmanac

  environment:
    photoTable: ${file(./serverlessDomainConfig.js):photoTable.${self:provider.stage}}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeStream
        - dynamodb:ListStreams
      Resource: "arn:aws:dynamodb:eu-central-1:*:*"

functions:
  createFeature:
    handler: handlers/create.main
    events:
      - http:
          path: /
          method: post
          cors: true
          authorizer: aws_iam
  publicListFeatures:
    handler: handlers/publicListFeatures.main
    events:
      - http:
          path: /
          method: get
          cors: true
          authorizer: aws_iam
  updateFeature:
    handler: handlers/update.main
    events:
      - http:
          path: /{id}
          method: put
          cors: true
          authorizer: aws_iam
  upvoteFeature:
    handler: handlers/upvote.main
    events:
      - http:
          path: /{id}
          method: post
          cors: true
          authorizer: aws_iam
                                                
custom:
  customDomain:
    domainName: ${file(./serverlessDomainConfig.js):domain.${self:provider.stage}}
    basePath: 'features'
    stage: ${self:provider.stage}
    createRoute53Record: false

resources:
  # API Gateway Errors
  - ${file(resources/api-gateway-errors.yml)}